<!doctype html>
<html {{ if html_attrs }}{{= html_attrs }}{{ else }}lang="en"{{ end }}>
  <head>
    {{ if metas }}{{ dynamic_include metas }}{{ else }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">{{ end }}
    {{ if title }}<title>{{= title }}</title>{{ end }}
    {{ if styles }}{{ dynamic_include styles }}{{ else }}
    <link href="{{= url_for("static('css/bootstrap.min.css')") }}" rel="stylesheet">{{ end }}
    <link rel="icon" href="{{= url_for("static('images/favicon.ico')") }}">
  </head>
  <body {{ if body_attrs }}{{= body_attrs }}{{ end }}>
      {{ if navbar }}{{ dynamic_include navbar }}{{ end }}
    <main role="main" class="container">
    {{ if content }}{{ dynamic_include content }}{{ end }}
    </main>
    {{ if scripts }}{{ dynamic_include scripts }}{{ else }}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{= url_for("static('js/vendor/jquery-slim.min.js')") }}"><\/script>')</script>
    <script src="{{= url_for("static('js/vendor/popper.min.js')") }}"></script>
    <script src="{{= url_for("static('js/bootstrap.min.js')") }}"></script> {{ end }}
  </body>
</html>

