{{ block base }}
        <h1>Blog Posts</h1>
        <ul class="list-group">
            {{ each titles, title}}<a href="/{{= title }}") }}">
            <li class="list-group-item">{{= title}}</li>
            </a>{{ end }}
        </ul>
{{ end }}
